* {
    -fx-color1: #a34313;
    -fx-color2: #903b12;
    -fx-color3: #9d4024;
    -fx-color5: #cb622a;
    -fx-higlighted-color5: rgba(255, 136, 72, 0.68);
    -fx-color6: #c54e2c;
    -fx-button-text-color: #e8ce93;
    -fx-text-color: #ffa800;

    -fx-color1-undo: #a31313;
    -fx-color2-undo: #901212;
    -fx-color3-undo: #9d2424;
    -fx-color4-undo: #cb2a2a;
    -fx-higlighted-color4-undo: rgba(255, 72, 72, 0.68);
    -fx-color5-undo: #c52c2c;
}

.button {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, -fx-color1 0%, -fx-color2 100%),
            -fx-color3,
            -fx-color5,
            radial-gradient(center 50% 50%, radius 100%, -fx-color5, -fx-color6);
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 50px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 2.1em;
    -fx-text-fill: -fx-button-text-color;
}

.player-name-label{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: -fx-button-text-color;
}

.player-name-textfield{
    -fx-background-color: linear-gradient(from 0% 20% to 100% 80%, rgba(126,69,21, 0.5) 0%, rgba(255, 180, 99, 0.5) 100%);
    -fx-background-radius: 7px;
    -fx-border-color: #7e4515;
    -fx-border-radius: 2px;
    -fx-border-width: 2px;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-text-fill: -fx-text-color;
}



.list-view{
    /*The linear gradient generates a warning when cascaded to list-cell because of a bug in the CssStyleHelper library*/
    -fx-background-color: linear-gradient(from 0% 20% to 100% 80%, rgba(126,69,21, 0.5) 0%, rgba(255, 180, 99, 0.5) 100%);
    -fx-background-radius: 7px;
    -fx-border-color: #7e4515;
    -fx-border-radius: 2px;
    -fx-border-width: 2px;
}

/*noinspection ALL*/
.list-cell{
    -fx-control-inner-background: linear-gradient(from 0% 50% to 100% 50%, rgba(126,69,21, 0.5) 0%, rgba(255, 180, 99, 0.5) 100%);
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: -fx-text-color;
}


.loading-label{
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: -fx-button-text-color;
}

.button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, -fx-color1 0%, -fx-color2 100%),
            -fx-color3,
            -fx-color5,
            radial-gradient(center 50% 50%, radius 100%, -fx-higlighted-color5, -fx-color6);
}
.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets:
            2 0 0 0,
            2 0 3 0,
            2 0 4 0,
            2 0 5 0;
}

.undo{
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, -fx-color1-undo 0%, -fx-color2-undo 100%),
            -fx-color3-undo,
            -fx-color4-undo,
            radial-gradient(center 50% 50%, radius 100%, -fx-color4-undo, -fx-color5-undo);
    -fx-background-radius: 200px;
    -fx-font-size: 18px;
}

.undo:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, -fx-color1-undo 0%, -fx-color2-undo 100%),
            -fx-color3-undo,
            -fx-color4-undo,
            radial-gradient(center 50% 50%, radius 100%, -fx-higlighted-color4-undo, -fx-color5-undo);
}

